<section class="body">
    <section id="hero">
        <app-header></app-header>
    
        <div class="center-text">
            <h1>Events</h1>
        </div>
    </section>

    <!-- Book Events -->
     <section id="events">
        <div class="event-box">
            <div class="filter">
                <p class="filter-text">Filter Events</p>
                <p>Country</p>
                <input type="checkbox" id="country">
                <label>Nigeria</label><br>
                <input type="checkbox" id="country">
                <label>Dubai</label>
            </div>
            <div class="available-events">
                <div class="event-list">
                    <img src="/assets/event/event1.png">
                    <p>Lagos, Nigeria</p>
                    <p class="title">Heaven On Earth Conference</p>
                    <div class="date-time">
                        <p>Sunday 12 December, 2025</p>
                        <p>20:00</p>
                    </div>
                </div>
                <div class="event-list">
                    <img src="/assets/event/event2.png">
                    <p>Lagos, Nigeria</p>
                    <p class="title">Heaven On Earth Conference</p>
                    <div class="date-time">
                        <p>Sunday 12 December, 2025</p>
                        <p>20:00</p>
                    </div>
                </div>
                <div class="event-list">
                    <img src="/assets/event/event3.png">
                    <p>Lagos, Nigeria</p>
                    <p class="title">Heaven On Earth Conference</p>
                    <div class="date-time">
                        <p>Sunday 12 December, 2025</p>
                        <p>20:00</p>
                    </div>
                </div>
            </div>
        </div>
     </section>

    <!-- Footer -->
     <app-footer></app-footer>
</section>