<footer id="footer">
    <div class="footer-content">
        <div class="subscribe">
            <h2>Stay Connected</h2>
            <p>Subscribe to our newsletter for updates, devotional and upcoming events</p>
            <div class="subscribe-field">
                <form>
                    <input type="email" placeholder="Email Address">
                </form>
                <button>Subscribe</button>
            </div>
        </div>

        <div class="links">
            <h2>Lorem Ipsum</h2>
            <ul>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>                
                <li>Lorem</li>
            </ul>
        </div>

        <div class="links">
            <h2>Lorem Ipsum</h2>
            <ul>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>                
                <li>Lorem</li>
            </ul>
        </div>

        <div class="links">
            <h2>Lorem Ipsum</h2>
            <ul>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>                
                <li>Lorem</li>
            </ul>
        </div>
    </div>
</footer>

<div class="powered">
  Powered by
  <a
    href="https://hooom.co"
    target="_blank"
  >
    HoooM Technologies
  </a>
</div>
