<section class="body">
    <section id="hero">
        <app-header></app-header>
    
        <div class="center-text">
            <h1>Contact Us</h1>
        </div>
    </section>

    <!-- Main Contact Section -->
     <section id="contact-fp">
        <div class="contact-container">
            <div class="contact-left">
                <h2>Get in touch with us</h2>
                <p>Need more assistance or have a unique inquiry? Our team is here to help! Get in touch with us 
                    through any of the channels below and we'll provide you with further instructions and assistance. 
                    We're just a message away!</p>
                <p><img src="/assets/contact/mail.png"> theteam&#64;flourish.com</p>
                <p><img src="/assets/contact/call.png"> 07886600748</p>
                <p><img src="/assets/contact/location.png"> 64 Nile Street, International House, London N1 7SR</p>
            </div>

            <div class="contact-right">
                <div class="form">
                    <p>Have questions or need assistance? Fill out the form below and we will get back to you shortly.</p>
                <form action="">
                    <input type="text" placeholder="Name">
                    <input type="email" name="Email" placeholder="Email">
                    <textarea placeholder="Message"></textarea>
                </form>
                    <button>Submit</button>
                </div>
            </div>
        </div>
     </section>

     <!-- Footer -->
      <app-footer></app-footer>
</section>