nav {
  width: 100vw;
  height: 90px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 20px;
}
.left{
  margin-left: 30px;
}
.left img:hover {
  cursor: pointer;
}

.right {
  display: flex;
  height: 80px;
  align-items: center;
  width: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  justify-content: space-between;
  padding-right: 30px;
}
.menu_icons{
  display: none;
}

ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  gap: 40px;
}
ul .not-show{
  display: none;
}

ul li {
  color: rgba(255, 255, 255, 1);
  font-size: 26px;
  line-height: 37.8px;
  font-weight: 300;
  list-style-type: none;
  text-decoration: none;
}

ul li:hover {
  cursor: pointer;
  font-weight: 500;
  font-size: 27px;
  transition: 0.5s ease-in-out;
}
.farr-right{
  width: 180px;
  height: 60px;
  margin-top: 20px;
  margin-right: 30px;
  background: rgba(125, 109, 109, 1);
  backdrop-filter: blur(7.650000095367432px);
  box-shadow: -1.53px -7.65px 4.82px 0px rgba(51, 34, 51, 0.13) inset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.far-right{
  width: 110px;
  height: 45px;
  margin-top: 20px;
  margin-right: 30px;
  background: rgba(125, 109, 109, 1);
  backdrop-filter: blur(7.650000095367432px);
  box-shadow: -1.53px -7.65px 4.82px 0px rgba(51, 34, 51, 0.13) inset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.nav-btn {
  background: linear-gradient(0deg, #3D3D3D 0%, #4D3636 100%);
  box-shadow: -2px -10px 6.3px 0px rgba(50, 50, 50, 0.25) inset;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  width: 170px;
  height: 50px;
  outline: none;
  border: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.nav-btn:hover {
  cursor: pointer;
}
.circle {
  position: absolute;
  width: 8px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  opacity: 0.5;
  border-radius: 50%;
}

.leftside {
  left: 0;
}

.rightside {
  right: 0;
}

.farr-right:hover .leftside {
  bottom: 10px;
  left: 2;
  animation: rotate-left 5s infinite alternate ease-in-out;
}

.farr-right:hover .rightside {
  top: 10px;
  right: 2;
  animation: rotate-right 5s infinite alternate ease-in-out;
}

/* Animations */
@keyframes rotate-left {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-5px) rotate(-15deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

@keyframes rotate-right {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(5px) rotate(15deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.btn_menu{
  display: none;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1440px) {
  nav {
    width: 1440px;
  }
  ul li{
    font-size: 24px;
  }
  ul li:hover{
    font-size: 24.5;
  }
}
@media screen and (max-width: 1280px) {
  nav {
    width: 1280px;
  }
  ul li{
    font-size: 24px;
  }
  ul li:hover{
    font-size: 24.5;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    width: 1024px;
  }
  .nav-btn{
    margin-right: 10px;
  }
  ul li{
    font-size: 24px;
  }
  ul li:hover{
    font-size: 24.5;
  }
}



@media screen and (min-width: 200px) and (max-width: 931px) {
  nav {
    width: 100vw !important;
    display: flex !important;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between !important;
    padding: 0 10px;
  }
  .left{
    width: auto;
    margin-left: 1px;
 }

  .left img {
    padding-left: 2px;
    margin-left: 0px;
    width: 60px;
    height: 50px;
    margin-top: 8px;
  }
  .not-show{
    display: block !important;
  }
  ul li{
    font-size: 22px !important;
  }
  .right{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin-right: 10px;
    gap: 40px;
  }
  .menu_icons{
    display: none !important;
  }
  .btn_menu{
    display: flex;
    gap: 5px;
  }
  .menu_icon{
    display: block;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 13px;
  }
  .menu_icon i{
    margin-top: 20px;
  }
  .far-right{
    width: 110px;
    height: 45px;
  }
  .farr-right{
    display: none;
  }
  .nav-btn{
    width: 100px;
    height: 42px;
    font-size: 12px;
  }
  .dropdown{
    position: fixed;
    right: -350px;
    top: 80px;
    background: linear-gradient(250.46deg, #100A0C 3.62%, #070D2B 29.55%);
    border-radius: 10px;
    width: 280px;
    height: 100vh;
    transition: 0.5s ease-in;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1000;
    text-transform: capitalize !important;
  }
  .dropdown li{
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize !important;
    border-bottom: 0.6px solid rgba(255, 255, 255, 0.3)
  }
  .first{
    padding-top: 15px;
  }
  .not-show{
    margin-left: 30px;
    margin-top: 10px;
  }
  .dropdown ul{
    display: block !important;
  }
  .dropdown .nav-btn{
    display: flex;
    justify-content: center;
  }
  .mobile_nav{
    right: 0;
    transition: 0.5s ease-in-out;
  }
  .menu_icons{
    display: block;
    margin-top: 30px;
    background: none;
    cursor: pointer;
    right: 0px;
}
}