<section class="body">
  <section id="hero">
    <app-header></app-header>

    <div class="center-text">
      <h1>Give</h1>
    </div>
  </section>

  <!-- Giving Section -->
  <section id="giving-section">
    <div class="giving-container">
      <div class="text">
        <h2>Online Giving</h2>
        <p>
          Seamless payment of pledges, Offerings, Tithes and contributions to
          the Kingdom impact network.
        </p>
      </div>

      <div class="apps">
        <div class="bank-app icon">
          <img src="/assets/give/flutterwave.png" />
          <p class="desc">Flutterwave</p>
          <p>
            Pay in Naira using Paystack, Trusted by thousand of organizations
            for world-class security.
          </p>
          <button>Give Now</button>
        </div>

        <div class="bank-app icon paypal">
          <img src="/assets/give/transfer.png" alt="" />
          <p class="desc">Direct Bank Transfer</p>
          <p>Additional Payment methods for extra convivence.</p>  

          <div class="pbank-trf">
            <p class="desc">Logic Church</p>
            <p>Fidelity Bank PLC 0123456789</p>
          </div>
        </div>
      </div>

      <div class="transfer">
        <img src="/assets/give/transfer.png" alt="" />
        <p class="desc">Direct Bank Transfer</p>
        <p>Additional Payment methods for extra convivence.</p>
      </div>

      <div class="ussd-transfer">
        <div class="bank-trf">
          <p class="desc">Logic Church</p>
          <p>Fidelity Bank PLC 0123456789</p>
        </div>

        <div class="bank-trf">
          <p class="desc">Logic Church</p>
          <p>Fidelity Bank PLC 0123456789</p>
        </div>

        <div class="bank-trf">
          <p class="desc">Logic Church</p>
          <p>Fidelity Bank PLC 0123456789</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <app-footer></app-footer>
</section>
