<section class="body">
    <section id="hero">
        <app-header></app-header>
    
        <div class="center-text">
            <h1>About</h1>
        </div>
    </section>

    <!-- About -->
     <section id="about">
        <div class="about-fp">
            <h2>Apostle Flourish Peter</h2>
            <p>Apostle Flourish Peters is a dynamic preacher, teacher, and founder of Flourish Peters Ministries and 
                The LOGIC Church (Love of God in Christ). Known for his passion for the Gospel of Grace, 
                Apostle Flourish has dedicated his life to unveiling the boundless love of God and empowering 
                believers to live in the fullness of their identity in Christ.</p>
        </div>
     </section>

     <!-- Image -->
      <section id="fp-image">
        <!-- <img src="/assets/about/fp.png"> -->
      </section>

      <!-- Logic Church -->
      <section id="about-ministry">
        <div class="about-church">
            <h2>Logic Church</h2>
            <p>Apostle Flourish Peters is a dynamic preacher, teacher, and founder of Flourish Peters Ministries and 
                The LOGIC Church (Love of God in Christ). Known for his passion for the Gospel of Grace, Apostle Flourish 
                has dedicated his life to unveiling the boundless love of God and empowering believers to live in the fullness of 
                their identity in Christ. Apostle Flourish Peters is a dynamic preacher, teacher, and founder of 
                Flourish Peters Ministries and The LOGIC Church (Love of God in Christ). Known for his passion for the Gospel of Grace, 
                Apostle Flourish has dedicated his life to unveiling the boundless love of God and empowering believers to live in the 
                fullness of their identity in Christ. Apostle Flourish Peters is a dynamic preacher, teacher, and founder of Flourish Peters 
                Ministries and The LOGIC Church (Love of God in Christ). Known for his passion for the Gospel of Grace, Apostle Flourish has 
                dedicated his life to unveiling the boundless love of God and empowering believers to live in the fullness of their identity in 
                Christ.Apostle Flourish Peters is a dynamic preacher, teacher, and founder of Flourish Peters Ministries and The LOGIC Church 
                (Love of God in Christ). Known for his passion for the Gospel of Grace, Apostle Flourish has dedicated his life to unveiling the boundless 
                love of God and empowering believers to live in the fullness of their identity in Christ.Apostle Flourish Peters is a dynamic preacher, teacher, and 
                founder of Flourish Peters Ministries and The LOGIC Church (Love of God in Christ). Known for his passion for the Gospel of Grace, Apostle Flourish has 
                dedicated his life to unveiling the boundless love of God and empowering believers to live in the fullness of their identity in Christ.</p>
        </div>
     </section>

     <!-- Give -->
     <section id="give">
        <!-- <div class="giving"> -->
            <div class="content">
                <h2>Looking to Give into this Ministry?</h2>
                <button routerLink="/support">Give Now</button>
            </div>
        <!-- </div> -->
    </section>

    <!-- Footer -->
     <app-footer></app-footer>
</section>