<section class="body">
    <section id="hero">
        <app-header></app-header>
    
        <div class="center-text">
            <h1>About</h1>
        </div>
    </section>

    <!-- About -->
    <div class="about-flourish-peter">
        <div class="about-mcontent">
            <div class="short-bio">
                <div class="img"></div>
                <p>“Apostle Flourish Peters is a dynamic preacher, teacher, and founder of Flourish Peters Ministries and The LOGIC Church (Love of God”)</p>
            </div>

            <div class="main-bio">
                <h2>Apostle Flourish Peters</h2>
                <p>
                    Dr. Flourish Peters serves as the Lead Pastor and Apostolic Head of The Love of God In Christ
(L.O.G.IC) Church Global, headquartered in Lekki, Lagos, with branches in Lagos, Abuja, Port Harcourt, London, and
 Houston, Texas. He has an undeniable Apostolic call on his life — a blend of graces, gifts, and skills; a captivating speaker, 
 a spiritual leader, a counsellor, a musician, an crudite teacher of the Gospel and an author, with two best- selling books in the Christian space: 
 "The Revelation Generation," which reveals the nature of God in Christ, and "Pray as you Go - Daily Christocentric Declarations." His mandate is to spread the message of the LOVE OF GOD IN CHRIST, which represents the Gospel of the Grace of God to a generation burdened by law and shackled by religion, 
 empowering and impacting people to flourish in every area of their lives.

 <br>
 <br>
His transformative ministry has facilitated the liberation of countless individuals from the clutches of addictions, depression, oppression, suicidal contemplations, and the burden of distorted sexual orientation. Through his counselling ministry, he has mended and resurrected marriages teetering on the 
brink of dissolution, offering liberty and healing to those ensnared in physically and psychologically abusive relationships. The far-reaching impact of his ministry extends to the community, as he provides vital support through business sponsorship, sponsors the education of young Nigerians at both secondary 
and tertiary levels, and consistently orchestrates charitable initiatives related to food and medical services.

<br>
<br>
Dr. Flourish Peters is also the convener of the G.M.B.C (Gospel Minister and Believers Conference) and the JESUS+Nothing Conference an annual gathering that brings together prominent preachers of the Gospel such as Dr. Creflo Dollar and Bishop Mike Okonkwo all with the sole aim of empowering and equipping 
the Church to put their faith in Christ Alone thereby liberating them from the entanglement of religion and setting their eyes on Jesus. He embodies a generation that firmly believes in the possibility of spiritual empowerment, societal influence, economic productivity; and political relevance, all while actively contributing to nation-building.

<br>
Dr. Flourish Peters is happily married to the amiable and anointed Pastor Amaka Flourish-Peters, and they have been blessed with two lovely children, Sozo and Salem Flourish-Peters.

                </p>
            </div>
        </div>
    </div>

     <!-- Give -->
     <section id="give">
        <!-- <div class="giving"> -->
            <div class="content">
                <h2>Looking to Give into this Ministry?</h2>
                <button routerLink="/support">Give Now</button>
            </div>
        <!-- </div> -->
    </section>

    <!-- Footer -->
     <app-footer></app-footer>
</section>