<section id="body">
    <section id="hero">
      <app-mmt-nav></app-mmt-nav>
  
      <div class="hero-content">
        <div class="left" data-aos="fade-right"
        data-aos-duration="1000">
          <h1>Dr. Flourish Peter’s Much More Tribe</h1>
          <p class="hero-text">
            Unlocking Your Potential with Christ-Centered Mentorship
          </p>
          <button>
            Join Now
            <img src="/assets/mmt/btn_icon.png" />
          </button>
          <img src="/assets/mmt/mentees.png" />
          <p>500+ Mentee worldwide</p>
        </div>
        <div class="right" data-aos="fade-left"
        data-aos-duration="1000"></div>
      </div>
    </section>
  
    <!-- ABOUT -->
    <div class="about-content">
      <div class="main-abt">
        <div class="abt-left"></div>
        <div class="abt-right" data-aos="fade-down-left"
        data-aos-duration="1000">
          <div class="abt-h2">
            <h2>About Much More Tribe (MMT)</h2>
          </div>
          <p>
            The Much More Tribe (MMT) is an exclusive mentorship programme
            designed to help you unlock your God-given potential and achieve
            lasting transformation in all aspects of life. Led by Dr. Flourish
            Peters, a seasoned mentor with over 20 years of experience in ministry
            and counseling, MMT is structured to equip you with actionable
            strategies for a balanced, Impactful life.
            <br />
            <br />
            By focusing on five critical areas - Faith, Family, Dynamics, Finance,
            Purpose and Personal Branding. You’ll gain clarity and thrive through
            principles that align with God’s Word.
            <br />
            <br />
            This is not just another mentorship programme, It’s a movement. Step
            into your purpose, live a life of influence and join a tribe committed
            to rising above mediocrity.
          </p>
        </div>
      </div>
    </div>
  
    <!-- WHY JOIN -->
    <div class="why-join">
      <div class="whyjoin-mmt">
        <div class="desc-content">
          <p class="wjm">Why Join MMT</p>
          <h2>Discover the Benefits of Joining the Much More Tribe</h2>
          <p class="meaning">
            Joining MMT means stepping into a community of like minded individuals
            determined to experience holistic transformation and live lives that
            inspire others
          </p>
        </div>
  
        <div class="cards hide-scrollbar">
          <div class="card-content">
            <img class="card_img" src="/assets/mmt/card_img.png" />
            <div class="contents">
              <img src="/assets/mmt/pray.png" />
              <h3>Strenghten Your Spiritual Foundation</h3>
              <p>
                Cultivate an unshakable faith that impacts every area of life.
                Learn to connect and work with him deeply
              </p>
            </div>
          </div>
          <div class="card-content">
            <img class="card_img" src="/assets/mmt/card_img.png" />
            <div class="contents">
              <img src="/assets/mmt/give.png" />
              <h3>Financial Mastery</h3>
              <p>
                Unlock the secrets of Kingdom stewardship, grow your wealth and
                create a legacy of impact through Kingdom principles.
              </p>
            </div>
          </div>
          <div class="card-content">
            <img class="card_img" src="/assets/mmt/card_img.png" />
            <div class="contents">
              <img src="/assets/mmt/jar.png" />
              <h3>Purpose Discovery</h3>
              <p>
                Step into your God given calling with clarity and confidence by
                uncovering your unique gifts, passions and talents.
              </p>
            </div>
          </div>
          <div class="card-content">
            <img class="card_img" src="/assets/mmt/card_img.png" />
            <div class="contents">
              <img src="/assets/mmt/branding.png" />
              <h3>Authentic Personal Branding</h3>
              <p>
                Define and present your unique identity with confidence while
                staying true to your faith and Kingdom Values.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- REGISTER -->
    <section id="register">
      <div class="whyregister">
        <div class="register-content">
          <p class="wjm">Register</p>
          <h2>Pricing Plans Designed for Every Stage of Transformation</h2>
          <p class="meaning">
            Choose the mentorship experience that aligns with your growth goals
            from community driven learning to exclusive guidance.
          </p>
        </div>
  
        <div class="card-options">
          <div class="option option1">
            <p class="class">Silver Class</p>
            <p class="title">N1,000,000</p>
            <P>Basic feature for up to 20-70 person</P>
            <button>Get Started</button>
            <p>Features</p>
            <p class="class">Everything in Silver Class</p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> Weekly teachings led by Dr.
              Flourish Peters.
            </p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> Group Q&A opportunities for
              shared insights.
            </p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> Networking and
              accountability within the participant community.
            </p>
          </div>
  
  
          <div class="option option2" data-aos="fade-up"
          data-aos-duration="1000">
            <p class="class">Gold Class</p>
            <p class="title">N3,000,000</p>
            <P>Basic feature for up to 5-15 person</P>
            <button>Get Started</button>
            <p>Features</p>
            <p class="class">Everything in Gold Class</p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> One-on-One, highly
              customized mentorship.
            </p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> Indepth discussions tailored
              to personal goals.
            </p>
            <p><img src="/assets/mmt/checkmark.png" /> Extended Q&A sessions.</p>
          </div>

          <div class="option option1" data-aos="fade-up"
          data-aos-duration="1000">
            <p class="class">Exclusive Class</p>
            <p class="title">Upon Request</p>
            <P>Basic feature for up to 20-70 person</P>
            <button>Get Started</button>
            <p>Features</p>
            <p class="class">Everything in Exclusive Class</p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> One-on-One, highly
              customized mentorship.
            </p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> Indepth discussion tailored
              to personal goals.
            </p>
            <p>
              <img src="/assets/mmt/checkmark.png" /> Full, direct access to Dr.
              Flourish Peters.
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- TESTIMONIES -->
    <section id="testimonial">
      <div class="feedback" data-aos="fade-up"
      data-aos-duration="1000">
        <div class="feedback-desc">
          <p class="wjm">Testimonies</p>
          <h2>Real Stories, Real Transformation</h2>
          <p>
            Hear from mentees worldwide who have experienced life-changing growth
            through <strong>MMT</strong>
          </p>
        </div>
  
        <div class="fullwidth hide-scrollbar">
          <div class="testimonials">
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
  
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
  
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
  
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
  
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
  
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
            <div class="story">
              <div class="profile">
                <img src="/assets/mmt/profile-image.png" />
                <p>John Doe <br />Lagos, Nigeria</p>
              </div>
              <p>
                God has been a constant source of strength, guidance, and love in
                my life. Through moments of joy and hardship,
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- CONTACT -->
    <section id="contact">
      <div class="contact-mmt">
        <p>Elevate Your Life for a Transformed Future</p>
        <h2>Request More Information</h2>
        <p class="contact-text">
          The Much More Tribe (MMT) is a mentorship programme designed to help
          thrive in faith, family and purpose.
        </p>
        <!-- <button>Contact Us</button> -->
      </div>
    </section>
    <app-footer></app-footer>
  </section>  