<section class="body">
  <section id="hero">
    <app-header></app-header>

    <div class="center-text">
      <h1>
        <strong>He died for me, He died as me:</strong> When he was buried, I was buried.
      </h1>
      <div class="hero-button">
        <button class="explore">Explore Our Teaching</button>
        <button class="family">Be a Part of Our Family</button>
      </div>

      <img class="center-img" src="/assets/home/scroll.png" />
    </div>
  </section>

  <!-- Get Inspired -->
  <section id="shop">
    <div class="shop-content">
      <div class="shop-left" 
      data-aos="fade-up">
        <p>OUR BOOKS AND DEVOTION</p>
        <h2>Get Inspired, Be Inspired, Live Inspired</h2>
        <img src="/assets/home/arrow.png"
        data-aos="fade-down-right">
      </div>

      <div class="books">
        <div class="book book1">
          <img src="/assets/home/shop-preview.png" />
          <p>Embracing Faith: Stories of transformation and hope</p>
          <p class="author">By Pastor Flourish Peter</p>
          <div class="prices">
            <p><strong>N10,000</strong></p>
            <p class="price">N20,000</p>
          </div>
        </div>
        <div class="book">
          <img src="/assets/home/shop-preview.png" />
          <p>Embracing Faith: Stories of transformation and hope</p>
          <p class="author">By Pastor Flourish Peter</p>
          <div class="prices">
            <p><strong>N10,000</strong></p>
            <p class="price">N20,000</p>
          </div>
        </div>
        <div class="book">
          <img src="/assets/home/shop-preview.png" />
          <p>Embracing Faith: Stories of transformation and hope</p>
          <p class="author">By Pastor Flourish Peter</p>
          <div class="prices">
            <p><strong>N10,000</strong></p>
            <p class="price">N20,000</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Worship -->
  <section id="worship">
    <img src="/assets/home/praise.png" />
  </section>

  <!-- EXPLORE TEACHINGS -->
  <section id="teachings">
    <div class="message-content">
      <div class="message-left" 
      data-aos="fade-right">
        <p>LATEST TEACHING</p>
        <h2>Explore our latest teachings</h2>
        <img src="/assets/home/arrow.png">
      </div>

      <div class="sermons">
        <div class="get-message message1">
          <img src="/assets/home/teaching.png"/>
          <p>Embracing Faith: Stories of transformation and hope</p>
          <p class="author">By Pastor Flourish Peter</p>
        </div>
        <div class="get-message">
          <img src="/assets/home/teaching.png" />
          <p>Embracing Faith: Stories of transformation and hope</p>
          <p class="author">By Pastor Flourish Peter</p>
        </div>
        <div class="get-message">
          <img src="/assets/home/teaching.png" />
          <p>Embracing Faith: Stories of transformation and hope</p>
          <p class="author">By Pastor Flourish Peter</p>
        </div>
      </div>
    </div>

    <!-- <h1>MUCH MORE TRIBE</h1> -->
    <img class="new-mmt" src="/assets/home/mmt.png">
  </section>

  <!-- EVENTS -->
  <section id="event">
    <img class="new-mmt" src="/assets/home/mmt2.png">

    <div class="event-content">
      <div class="event-left">
        <p>OUR MAIN EVENT</p>
        <h2>Become a Part Of Something Great</h2>
        <img src="/assets/home/arrow.png"
        data-aos="fade-down-right">
      </div>

      <div class="events">
        <div class="get-event precept1">
          <div class="precepts">
            <img src="/assets/home/Events.png" />
            <p class="event-title">
              Celebrating Jesus 2025 - Sunday Service| Onsite & Online
            </p>
            <p class="addy">Venue:</p>
            <p class="event-title">Logic Church</p>
          </div>

          <img class="date" src="/assets/home/Date.png" />
        </div>
        <div class="get-event">
          <div class="precepts">
            <img src="/assets/home/Events.png" />
            <p class="event-title">
              Celebrating Jesus 2025 - Sunday Service| Onsite & Online
            </p>
            <p class="addy">Venue:</p>
            <p class="event-title">Logic Church</p>
          </div>

          <img class="date" src="/assets/home/Date.png" />
        </div>
        <div class="get-event">
          <div class="precepts">
            <img src="/assets/home/Events.png" />
            <p class="event-title">
              Celebrating Jesus 2025 - Sunday Service| Onsite & Online
            </p>
            <p class="addy">Venue:</p>
            <p class="event-title">Logic Church</p>
          </div>

          <img class="date" src="/assets/home/Date.png" />
        </div>
      </div>
    </div>
  </section>

  <!-- TESTIMONIES -->
  <section id="testimonial">
    <div class="testimonial-content">
      <div class="story-text">
        <p>TESTIMONIES</p>
        <h2>Witness the divine impact in our midst</h2>
      </div>

      <div class="testimonials">
        <div class="story story1">
          <div class="profile">
            <img src="/assets/home/profile-image.png" />
            <p>John Doe <br/>Lagos, Nigeria</p>
          </div>
          <p>
            God has been a constant source of strength, guidance, and love in my
            life. Through moments of joy and hardship,
          </p>
        </div>

        <div class="story">
          <div class="profile">
            <img src="/assets/home/profile-image.png" />
            <p>John Doe <br/>Lagos, Nigeria</p>
          </div>
          <p>
            God has been a constant source of strength, guidance, and love in my
            life. Through moments of joy and hardship,
          </p>
        </div>

        <div class="story">
          <div class="profile">
            <img src="/assets/home/profile-image.png" />
            <p>John Doe <br/>Lagos, Nigeria</p>
          </div>
          <p>
            God has been a constant source of strength, guidance, and love in my
            life. Through moments of joy and hardship,
          </p>
        </div>

        <div class="story">
          <div class="profile">
            <img src="/assets/home/profile-image.png" />
            <p>John Doe <br/>Lagos, Nigeria</p>
          </div>
          <p>
            God has been a constant source of strength, guidance, and love in my
            life. Through moments of joy and hardship,
          </p>
        </div>

        <div class="story">
          <div class="profile">
            <img src="/assets/home/profile-image.png" />
            <p>John Doe <br/>Lagos, Nigeria</p>
          </div>
          <p>
            God has been a constant source of strength, guidance, and love in my
            life. Through moments of joy and hardship,
          </p>
        </div>

        <div class="story">
          <div class="profile">
            <img src="/assets/home/profile-image.png" />
            <p>John Doe <br/>Lagos, Nigeria</p>
          </div>
          <p>
            God has been a constant source of strength, guidance, and love in my
            life. Through moments of joy and hardship,
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- PRAYER SECTION -->
  <section id="prayer">
      <div class="prayer-text">
        <h2>Need Prayer?</h2>
        <p>
          Life’s challenges can feel heavy, but prayer brings us closer to the
          one who carries our burdens. Whenever you’re going through, you don’t
          have to face it alone. Let’s join our faith with yours and believe for
          a breakthrough.
        </p>

        <button>Share Your Prayer Request</button>
      </div>
  </section>

  <!-- GIVE -->
  <section id="give">
      <div class="content">
        <h2>Looking to Give into this Ministry?</h2>
        <button routerLink="/support">Give Now</button>
      </div>
  </section>

  <!-- FOOTER -->
  <app-footer></app-footer>
</section>
