<section class="body">
    <section id="hero">
        <app-header></app-header>
    
        <div class="center-text">
            <h1>About</h1>
        </div>
    </section>

    <!-- About -->
    <div class="about-flourish-peter">
        <div class="about-mcontent">
            <div class="short-bio">
                <div class="img"></div>
                <p>“Apostle Amaka Peters is a dynamic preacher, teacher, and founder of Flourish Peters Ministries and The LOGIC Church (Love of God”)</p>

                <div class="bio-link">
                    <img src="/assets/about/fp-short.png">
                    <div class="text">
                        <p><strong>Apt. Flourish-Peters</strong></p>
                        <p class="faint">Senior Pastor, Logic Church</p>
                        <a routerLink="/about-flourish-peters">Read more</a>
                    </div>
                </div>
            </div>

            <div class="main-bio">
                <h2>Pastor Amaka Peters</h2>
                <p>
                    Pastor Amaka Flourish-Peters is an accomplished professional with over a decade of senior managerial 
                    experience and executive consultancy in various African startups. She currently serves as the Associate Pastor at the L.O.G.I.C Church Global, 
                    where she plays a pivotal role in driving growth, increasing global impact and setting strategic direction for the ministry.                    

 <br>
 <br>
 She holds a Bachelor's degree in Finance from the esteemed University of Texas, Arlington, as well as a Master of Science degree 
 from Georgetown University in Washington,DC, USA.

<br>
<br>
P.Maks is a visionary leader; committed to prayer, the ministry of the word, inspiring many and making a difference through charity.
                </p>
            </div>
        </div>
    </div>

     <!-- Give -->
     <section id="give">
        <!-- <div class="giving"> -->
            <div class="content">
                <h2>Looking to Give into this Ministry?</h2>
                <button routerLink="/support">Give Now</button>
            </div>
        <!-- </div> -->
    </section>

    <!-- Footer -->
     <app-footer></app-footer>
</section>