#hero{
    width: auto;
    height: 60vh;
    background: url('/assets/about/about-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.center-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 45%;
}
.center-text h1{
    color: rgba(255, 255, 255, 1);
    font-size: 80px;
    line-height: 90.2px;
    font-weight: 400;
    font-family: 'Outfit-Regular';
}

/* About */
.about-flourish-peter{
    width: auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(303deg, #2B3877 -1.27%, #070D2B 28.68%);
    padding-bottom: 80px;
    padding-top: 80px;
}
.about-mcontent{
    width: auto;
    display: flex;
    gap: 150px;
}
.short-bio{
    width: 290px;
}
.short-bio p{
    font-size: 14px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Outfit-Regular';
}
.img{
    background: url('/assets/about/flourish_p.png');
    width: 290px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bio-link{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.bio-link img{
    width: 130px;
    height: 130px;
}
.bio-link p strong{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 15px;
    font-family: 'Outfit-Regular';
}
.faint{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 15px;
    opacity: 0.6;
    font-family: 'Outfit-Regular';
}
.bio-link a{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Outfit-Regular';
}
.bio-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main-bio{
    width: 700px;
    padding-left: 20px;
    padding-right: 20px;
}
.main-bio p{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    text-align-last: left;
    font-family: 'Outfit-Regular';
}
.main-bio h2{
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    padding-bottom: 15px;
    font-family: 'Outfit-Regular';
}

/* MAIN MAN */
#fp-image{
    width: auto;
    height: 50vh;
    background: url('/assets/about/fp.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* About Owner */


/* Giving */
#give{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background: url('/assets/home/give-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.content{
    width: auto;
    height: 400px;
    position: relative;
    align-items: center;
  text-align: center;
  margin-top: 100px;
}
.content h2{
    color: rgba(255, 255, 255, 1);
    font-size: 35px;
    font-weight: 500;
    line-height: 37px;
    font-family: 'Outfit-Regular';
}
.content button{
    box-shadow: -2px -10px 6.3px 0px rgba(50, 50, 50, 0.25) inset;
    backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    width: 130px;
    height: 55px;
    margin-top: 100px;
    background: transparent;
    border-radius: 12px;
    font-family: 'Outfit-Regular';
}

.content button:hover{
    cursor: pointer;
}


/* RESPONSIVENESS */
@media screen and (max-width: 1440px) {
    #hero{
        width: 1440px;
    }
    #about{
        width: 1440px;
    }
    .about-flourish-peter{
        width: auto !important;
    }
    #give{
        width: 1440px;
    }
    .giving{
        width: 1440px;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1280px) {
    #hero{
        width: auto;
    }
    #give{
        width: auto;
    }
}
@media screen and (max-width: 1024px) {
    #hero{
        width: auto;
    }
    .about-flourish-peter{
        width: auto;
    }
    .main-bio{
        width: 700px !important;
    }
    .about-mcontent{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    .short-bio{
        width: 500px;
        text-align-last: center;
    }
    .img{
        width: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main-bio h2{
        text-align: center !important;
    }
}
@media screen and (max-width: 920px) {
    #hero{
        width: auto;
    }
}
@media screen and (max-width: 854px) {
    #hero{
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    
    .center-text{
        width: auto;
        left: 300px;
    }
    .about-fp{
        width: 690px !important;
    }
    #fp-image{
        background-size: contain;
    }
    .about-church{
        width: 690px !important;
        padding-bottom: 200px !important;
    }
    .about-fp h2{
        padding-left: 250px !important;
    }
    .about-church h2{
        padding-left: 250px !important;
    }
    #give{
        width: auto;
        justify-content: center;
        align-items: center;
      }
      .content{
        margin-top: 200px;
        height: 350px;
      }
}
@media screen and (max-width: 540px) {
    #hero{
        width: auto;
    }
    .center-text{
        left: 180px !important;
    }
    .about-flourish-peter{
        width: auto;
    }
    .main-bio{
        width: 480px !important;
    }
}
@media screen and (max-width: 431px) {
    #hero{
        width: auto;
    }
    #about{
        height: auto;
    }
    .center-text{
        width: auto;
        left: 140px !important;
    }
    .center-text h1{
        font-size: 60px !important;
    }
    .about-flourish-peter{
        width: auto;
    }
    .main-bio{
        width: 380px !important;
    }
    .short-bio{
        width: 380px;
        text-align-last: center;
    }
    .img{
        width: 380px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 414px) {
    
}
@media screen and (max-width: 391px) {
    .center-text{
        left: 120px !important;
    }
    .about-flourish-peter{
        width: auto;
    }
    .main-bio{
        width: 360px !important;
    }
    .short-bio{
        width: 360px;
        text-align-last: center;
    }
    .img{
        width: 360px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 376px) {
    .about-flourish-peter{
        width: auto;
    }
    .main-bio{
        width: 340px !important;
    }
    .short-bio{
        width: 340px;
        text-align-last: center;
    }
    .img{
        width: 340px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 360px) {
    .center-text{
        left: 100px !important;
    }
    .about-flourish-peter{
        width: auto;
    }
    .main-bio{
        width: 330px !important;
    }
    .short-bio{
        width: 330px;
        text-align-last: center;
    }
    .img{
        width: 330px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 321px) {
    .center-text{
        left: 80px !important;
    }
    .about-flourish-peter{
        width: auto;
    }
    .main-bio{
        width: 290px !important;
    }
    .short-bio{
        width: 290px;
        text-align-last: center;
    }
    .img{
        width: 290px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}