/* You can add global styles to this file, and also import other style files */
*{
    user-select: none;
    margin: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

@font-face {
    font-family: 'PolySans-bulky';
    src: url('../src/assets/fonts/PolySans-Bulky.ttf');
}